body{
    margin: 0;
    padding: 0;
    background-color: white;
    
}
.header{
    grid-row: 1 / span 1;
    display: grid;
    place-items: center;
    grid-template-columns: 4fr 1fr ;
    background-color: rgb(224, 224, 224);

}
.library{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: .1fr 1fr;
    
}
.library-name{
    grid-column: 1 / span 1;
    font-family: 'Press Start 2P','Courier New', Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.bookshelf {
    grid-row: 2 / span 1;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    overflow: auto;
}
.book{
    width: clamp(300px, 200px, 100px);
    height: clamp(200px, 150px, 80px);
    background-color: white;
    color: black;
    border: 1px solid black;
    display: grid;
    place-items: center;
    margin: 10px;
    border-radius: 8px;
}
.addBook{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    margin: clamp(10px,5px,0px) 15px;
}
#addBook{
    grid-column: 1 / span 1;
    width: clamp(200px, 100px , 50px);
    height: clamp(50px, 30px, 10px);
    background-color: white;
    border-radius: 10px;
    border: 1px solid gray;
    font-family: 'Press Start 2P','Courier New', Courier, monospace;
}
#addBook:hover{
    grid-column: 1 / span 1;
    width: clamp(200px, 100px , 50px);
    height: clamp(50px, 30px, 10px);
    background-color: rgb(117, 117, 117);
    color: white;
    transition: ease .2s;
    border: 1px solid gray;
    border-radius: 10px;
    font-family: 'Press Start 2P','Courier New', Courier, monospace;
}

.addBookForm{
    grid-column: 2 / span 1;
    width: clamp(300px, 200px, 1fr);
}
.library .add-Book-Form fieldset{
    border: 0;
    padding: 30px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Press Start 2p', 'Courier New', Courier, monospace;
}
